<h1>Calc#show</h1>
<p>Find me in app/views/calc/show.html.erb</p>
<body><p><strong><h1>Show calculator</h1></strong></p>

  <div>

<%= calc_show(params[:player][:guild].to_i, params[:show][:events].to_i, params[:show][:level].to_i, get_factor_from(@horse).to_i )%>
  </div>


 </body>
  