<style>
body
{
background-color:#d0e4fe;
}
h1
{
color:blue;
text-align:center;
}
p
{
font-family:"Times New Roman";
font-size:12px;
}

div
{
width:220px;
padding:10px;
border:5px solid gray;
margin:10px 250px;
}

</style>
<body><p><strong><h1>Show calculator</h1></strong></p>
  
  <div>
<%= (image_tag "ribbon.png", :size => "110x150") %>
<%= calc_show(params[:player][:guild].to_i, params[:show][:events].to_i, params[:show][:level].to_i, get_factor_from(@horse).to_i )%>
  </div>
    
 
 </body>
  


