<style>
#choose_animal
{
position:relative;
left:30px;
margin:15px;
width:350px;
border:2px solid;
border-radius:25px;
background-color:Mistyrose;
font-family: verdana;
font-size: 12px;
padding:5px;
}
h1
{
text-shadow: 5px 5px 5px #FF00FF;
}
</style>



<%= form_tag @animal do %>
<div id="choose_animal"
     <h1>Choose an animal</h1>

<%= select(:animal, :type, [['Sheep', 1],['Horse',2],['Camel',3]]) %>
<%= text_field :owner %>
<% text_field (:name, "Please name me" ) %>
<% text_field (:hunger, "1" ) %>
<% text_field (:food, "10" ) %>
     <%= submit 'Make animal' %>
</div>
<% end %>
