<!doctype html>
<html ng-app>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  </head>
  <body>
    <div>
      <label>Name:</label>
      <input type="text" ng-model="yourName" placeholder="Enter a name here">
      <hr>
      <h1>Hello {{yourName}} welcome to AVH calculators.</h1>
    <br/>
Seems to be working.
<br/>
All AVH rules apply here. <br/>
Please report bad things written here to helpline. <br/>
<%= link_to "Showblog for the makers", controller: "showblogs" %><br/>


    </div>
  </body>
</html
