
<h1>Please fill in the blocks</h1>
<h1>Arena advancement formula</h1>
<div>
<%form_tag(:action => :show) do %><br />

Current skill: <%= text_field("arena","current_skill") %><br />
Guild: <%= select("player","guild",[["Trainer",0],["Trainer with magic",1]])%><br />

<%= submit_tag("Submit") %>
<% end %>
<!-- hitwebcounter Code START -->
<a href="http://www.hitwebcounter.com/" target="_blank">
<img src="http://hitwebcounter.com/counter/counter.php?page=4684384&style=0008&nbdigits=5&type=page&initCount=0" title="" Alt=""   border="0" >
</a>
</div>
