
<h1>Please fill in the blocks</h1>
<h1>Arena advancement formula</h1>
<div>
  <%= form_tag({:action => "index"}, {:method => "get", :remote => true }) do %>

 Current skill: <%= text_field("arena","current_skill") %><br />
Guild: <%= select("player","guild",[["Trainer",0],["Trainer with magic",1]])%><br />

<%= submit_tag("Submit") %>
<% end %>

</div>

