<style>
body
{
background-color:#d0e4fe;
}
h1
{
color:blue;
text-align:center;
}
p
{
font-family:"Times New Roman";
font-size:12px;
}

div
{
width:220px;
padding:10px;
border:5px solid gray;
margin:10px 250px;
}

</style>
<body><p><strong><h1>Arena formula</h1></strong></p>
<div>

<%= arena(params[:arena][:current_skill].to_i, params[:player][:guild].to_i) %>

  </div>

 </body>
