<style>
#links
{
position:relative;
left:30px;
margin:15px;
width:350px;
border:2px solid;
border-radius:25px;
background-color:#99FFFF;
font-family: verdana;
color:#0000FF;
font-size: 12px;
padding:5px;


}
</style>

<%= render 'form' %> <br/> <br/>
<div id="links">
<%= link_to 'Back to the list', requests_path %><br/>
<%= link_to "Showblog for the makers", controller: "showblogs" %><br/>
<%= link_to "Home page", root_path %><br/>
</div>
