<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
  <body>
      <form id="new_horselist" class="new_horselist" method="post" >
          
          
          Player: <input id="horselist_player" type="text" name="horselist[player]"><br/>
          Horse name:<input id="horselist_horse" type="text" name="horselist[horse]"><br/>
          Current level:<input id="horselist_currant_level" type="text" name="horselist[currant_level]"><br/>
          Choose the levels you would like to enter:<br/>
          <input id="horselist_range" type="checkbox" name="horselist[range]" value="L1-10">Level 1 - 10 <br/>
          <input id="horselist_range" type="checkbox" name="horselist[range]" value="L11-20">Level 11 - 20 <br/>
          <input id="horselist_range" type="checkbox" name="horselist[range]" value="L21-30">Level 21 - 30 <br/>
          <input id="horselist_range" type="checkbox" name="horselist[range]" value="L31-40">Level 31 - 40 <br/>
          <input id="horselist_range" type="checkbox" name="horselist[range]" value="L41-50">Level 41 - 50 <br/>
          <input id="horselist_range" type="checkbox" name="horselist[range]" value="L51-60">Level 51 - 60 <br/>
          <input id="horselist_range" type="checkbox" name="horselist[range]" value="L61-70">Level 61 - 70 <br/>
          <input id="horselist_range" type="checkbox" name="horselist[range]" value="L71-80">Level 71 - 80 <br/>
          <input id="horselist_range" type="checkbox" name="horselist[range]" value="L81-90">Level 81 - 90 <br/>
          <input id="horselist_range" type="checkbox" name="horselist[range]" value="L91-100">Level 91 - 100 <br/>
          <input id="horselist_range" type="checkbox" name="horselist[range]" value="higher">Level 100+ <br/>
          <input id="horselist_note" type="text" name="horselist[note]" ><br/>
          <input type="submit" value="click to send">
      </form>


  </body>
</html>
