// Place all the styles related to the Showblogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}


#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
     font-size: 20px;
  line-height: 28px;
    font-weight: bold;
    color: #ffccff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
#showblog-list .list-line-even {
background: #ffccff;
}

#showblog-list .list-line-odd {
background: #d0d0d0;
}
